<div class="getting-started center">
  <h2> Get started by fetching current location </h2>
  <button class="btn btn-location"> Get current location</button>
</div>
<div class="line">
  <div id="restaurants_map" class="unit size3of4">
  </div>
  <div id="restaurants_list" class="lastUnit">
  </div>
</div>
<div id="restaurants_detail">
</div>
