<div class="getting-started center">
  <h2> Get started by fetching current location </h2>
  <button class="btn btn-location"> Get current location</button>
</div>
<div class="line">
  <div id="view-map" class="unit size3of4">
  </div>
  <div id="view-list" class="lastUnit">
  </div>
</div>
